<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260064822865-fg4tdbevaok3gha08bg4iipqevg3upq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260064822865-fg4tdbevaok3gha08bg4iipqevg3upq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDVMZBmNlqMDyqnZ3qHMUuM4i77wluNMuc</string>
	<key>GCM_SENDER_ID</key>
	<string>260064822865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.venturemate</string>
	<key>PROJECT_ID</key>
	<string>venturemate-47d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>venturemate-47d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260064822865:ios:f74831333c7d2b8e8b9a70</string>
</dict>
</plist>